# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
.local/
.ipython/
.jupyter/

# NVIDIA
.nv/


# History
*.sqlite
.bash_history

# OS
.DS_Store


# ML artifacts and local caches
.cache/
.keras/
Weights/
*.pkl
*.h5
*.ckpt*
checkpoint
